/* main vs. area */
#svgarea, #canvasarea {margin-right: 2em; }
svg, canvas { border: 1px solid silver; }

/* toolbars */
.color { float: left; width: 2em; height: 2em; }
.brush { float: left; background: black; margin-right: 1em; }
.tool {float: left; margin-right: 1em; }

.textToolbar { height: 2em; }

/* 2010 mind game */
.will_break_canvas { background-color: pink; }
.disabled { background-color: silver; }